# bootstrap-notify-simple-wrapper
# .gitignore

.*.swp
*.log
*~
*.orig
*.bak
.DS_Store
*.save
.idea/*
*sublime*
*geany*
*komodo*
tmp/*
logs/*
parts
.project
.pydevproject
.settings/*
*.pid
*.html
components/*
bower_components/*
node_modules/*
